<app-navbar></app-navbar>

<!-- Conteneur principal pour la page -->
<div class="home-container">
  <br />
  <div class="container">
    <!-- Card pour démarrer un post -->
    <div class="card mb-4">
      <div class="card-body">
        <textarea
          class="form-control"
          rows="2"
          placeholder="Commencer un post"
          (click)="openPostModal(postModal)"
          readonly
        ></textarea>
      </div>
    </div>

    <!-- post publié -->
    <div class="card mb-3" *ngFor="let post of posts">
      <div class="card-body">
        <!-- Avatar et nom de l'utilisateur en ligne -->
        <div class="d-flex align-items-center mb-3">
          <div class="avatar-container me-3">
            <!-- Avatar -->
            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="User Avatar" class="avatar-img rounded-circle" />
          </div>
          <div>
            <!-- Nom de l'utilisateur (prénom et nom) -->
            <span class="fw-bold">{{ post.userId.firstName }} {{ post.userId.lastName }}</span>
          </div>
        </div>
    
        <!-- Contenu du post -->
        <div class="post-content">
          <p class="card-text">
            <!-- Afficher le texte complet si 'isExpanded' est vrai, sinon tronquer à 700 caractères -->
            {{ post.isExpanded ? post.content : (post.content.length > 700 ? post.content.substring(0, 700) : post.content) }}
            
            <!-- Si le contenu dépasse 700 caractères et que le texte n'est pas expansé, afficher "Voir plus" -->
            <button *ngIf="post.content.length > 700 && !post.isExpanded" 
                    class="btn btn-link p-0" 
                    (click)="toggleExpand(post)">
              Voir plus
            </button>
          </p>
        </div>
    
        <!-- Actions sous le post (like, commenter) -->
        <hr />
        <div class="d-flex justify-content-between text-muted">
          <!-- Bouton Like -->
          <button class="btn action-btn d-flex align-items-center">
            <span class="me-1">👍</span> <span>Like</span>
          </button>
          <!-- Bouton Commenter -->
          <button class="btn action-btn d-flex align-items-center">
            <span class="me-1">💬</span> <span>Commenter</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #postModal let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <textarea
      [(ngModel)]="content"
      class="form-control"
      rows="3"
      placeholder="Qu'avez-vous en tête ?"
      (input)="autoResize($event.target)"
    ></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addPost(modal)"
      [disabled]="content.length < 2"
    >
      Publier
    </button>
  </div>
</ng-template>